/* Task 1: Hover Highlight Card */
.hover-highlight-card {
    padding: 20px;
}

.hover-highlight-card:hover{
    background-color: #00aaff;
    box-shadow: 10px -5px 5px red;
    transition: 0.5s;
    border:black;
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a:hover {
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10%;
    padding: 4px;
    color: white;
    background-color: #00aaff;
}
/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 10px 20px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
}

.button-press-animation button:active {
    padding: 10px 20px;
    border:#00aaff;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transform:translate(-2px, -2%);
    box-shadow:#00aaff 1px 1px;
}

/* Task 4: Simple Loading Spinner */
.guitar_animation .guitar {
    width: 30vw;
    height: auto;
    animation: guitar 1s infinite linear;
}

@keyframes guitar {
    0%{transform:rotate(75deg);
    
    }
    
    50%{transform:rotate(-75deg);
    
    }

    100%{transform:rotate(75deg);
    
    }
}

/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    opacity: 0.5;
}

.fading-gallery img:hover {
    width: 100px;
    height: 100px;
    object-fit: cover;
    opacity: 1;
    transition:0.5s;
    transform:translateY(-10px) scale(1.5);
    box-shadow:black 5px 5px;
}

