p {
    color: red;
}

#books {
    font-size: xx-small;
}

h1 {
    color: hotpink;
    border-bottom: purple dotted 10px;
}

h2 {
    color: purple;
    font-style:italic;
}

ul {
    background-color: #eeeeee;
    border: purple 5px solid;
    padding: 5px;
}

a:hover {
    color:green;
}
