body {
    background-color: #4d2020;
}

p {
    color: #EB4A44;
}

img { 
    height:250px;
    width:230px;
}

#strange {
    border: 10px solid #ebc344;
}

h1 {
    color: #ebc344;
    border-bottom: red dotted 10px;
    font-style:italic;
}

h2 {
    color: #ebc344;
    font-style:italic;
}

ul {
    background-color: #af7c7c;
    border: red 5px solid;
    padding: 5px;
}

ul > li {
    color: red;
    margin: 24px;
}

a:hover {
    color:darkgreen;
}

a {
    color: maroon;
}